.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 37%, rgba(255, 255, 255, 1) 93%);
}


.form {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 12px;
  color: white;
}

.formInput {
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: #f7f7f7;
}

.formButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
}

.formButton:hover {
  background-color: #0056b3;
}


.description {
  font-size: 28px;
  padding: 44px;
}

.link {
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}

.p {
  color: #000;
}